Repository devopsacademyau/2020-feb-project1-group2, pull requests merged in 2020-04, with the labels that each got.

#11 ECS Cluster v0.1
  terraform-ecs/ecs.tf
  terraform-ecs/user_data.sh
  terraform-ecs/variables.tf
  terraform-ecs/vpc.tf
Labels: ready-to-review, terraform-code

#10 Terraform VPC v0.3
  terraform-vpc/provider.tf
  terraform-vpc/variables.tf
  terraform-vpc/vpc.tf
Labels: ready-to-review

#13 Dockerfile
  wordpress/Dockerfile
Labels: Dockerfile, ready-to-review

#31 Terraform Folder Restructure
  terraform/provider.tf
  terraform/rds.tf
  terraform/variables.tf
  terraform/vpc.tf
Labels: terraform-code

#34 minor fixes to the variables file
  terraform/variables.tf
  terraform/vpc.tf
Labels: terraform-code

#38 cleaned unused variables
  terraform/variables.tf
Labels: ready-to-review, terraform-code

#37 ECR Repository
  terraform/README.md
  terraform/ecr.tf
  terraform/variables.tf
Labels: ready-to-review, terraform-code

#36 IaC - RDS DB
  terraform-vpc/provider.tf
  terraform-vpc/variables.tf
  terraform-vpc/vpc.tf
  terraform/output.tf
  terraform/rds.tf
  terraform/sg.tf
  terraform/variables.tf
Labels: terraform-code

#43 Created parameter store resources for terraform folder
  terraform/parameter_store.tf
Labels: ready-to-review, terraform-code

#45 Formatting
  terraform/README.md
Labels: documentation, ready-to-review

#46 Fixed up SG
  terraform/sg.tf
Labels: ready-to-review, terraform-code

#51 load balancer file
  terraform/lb.tf
  terraform/route53.tf
  terraform/sg.tf
Labels: ready-to-review, terraform-code

#39 EFS
  terraform/README.md
  terraform/efs.tf
  terraform/sg.tf
Labels: ready-to-review, terraform-code

#61 starkmatt/vpcv2
  terraform/README.md
  terraform/vpc.tf
Labels: ready-to-review, terraform-code

#59 wp-application
  terraform/ecs.tf
  terraform/iam.tf
  terraform/lb.tf
  terraform/tasks.tf
  terraform/tasks/wp_task_definition.json
  terraform/vpc.tf
Labels: ready-to-review, terraform-code

#69 New NACL Rules
  terraform/vpc.tf
Labels: ready-to-review, terraform-code

#68 RDS Terraform Fix
  terraform/rds.tf
Labels: ready-to-review, terraform-code
